@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Open Sans", serif;
    font-weight: 300;
}

html, body {
  background: #141414;
  color: white;
}

.editor-holder {
  position: relative;
  height: 600px;
}

.pure-form label {
  margin-left: 1em;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 18px;
}

#console {
  color: #2D8730;
  font-size: 18px;
  overflow: auto;
  background-color: #232323;
  padding: 10px;
}

#console pre {
  font-family: "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
  padding: 8px 0;
  margin: 0;
  border-bottom: 1px solid #164116;
  white-space: pre;
  word-wrap: inherit;
}

#console pre.error {
  color: red;
}

#tools {
  padding: 10px;
  max-width: 1002px;
  margin: auto;
  background-color: #FFC75E;
  color: #141414;
  position: relative;
  height: 2.4em;
  line-height: 2.4em;
}

#tools form > * {
  margin-right: 1em;
}

#tools button {
  position: absolute;
  right: 0;
}

#tools img {
  float: left;
  height: 22px;
  width: 22px;
  vertical-align: middle;
  margin-right: 8px;
}

header.main {
  background: #ffef5e;
  background: -moz-linear-gradient(top, #FFFDA0 0%, #ffef5e 75%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFDA0), color-stop(75%,#ffef5e));
  background: -webkit-linear-gradient(top, #FFFDA0 0%,#ffef5e 75%);
  background: -o-linear-gradient(top, #FFFDA0 0%,#ffef5e 75%);
  background: -ms-linear-gradient(top, #FFFDA0 0%,#ffef5e 75%);
  background: linear-gradient(to bottom, #FFFDA0 0%,#ffef5e 75%);
  color: #141414;
  max-width: 1022px;
  margin: auto;
}

header.main h1 {
  font-size: 2.5em;
  padding: 1em 0 1em 1em;
  box-sizing: border-box;
}

header.main h2 {
  box-sizing: border-box;
  padding: 1em 2em 0em 2em;
}

header.main h2 p {
  margin: 0 0 1em 0;
  padding: 0;
}

#interesting {
  z-index: 1;
  position: relative;
}

#boring {
  z-index: 3;
  position: relative;
}

#toc {
  max-width: 1024px;
  margin: auto;
  color: #141414;
}

#toc table {
  width: 100%;
  border-collapse: collapse;
}

#toc .toc-group-walkthrough {
  width: 60%;
}

#toc .toc-group {
  width: 20%;
}

#toc .toc-walkthrough {
  width: 40%;
}

#toc .toc-native-support,
#toc .toc-traceur-support {
  width: 20%;
}

#toc thead.fixed {
  position: fixed;
  top: 0;
  z-index: 2;
}

#toc th,
#toc td {
  padding: 4px;
  border: 1px solid #141414;
  border-top: 0;
}

#toc th {
  background-color: #FF9F5E;
  font-weight: 600;
}

#toc td {
  background-color: white;
}

#toc td a {
  color: #141414;
  text-decoration: none;
  margin-right: .25em;
}

#toc td.unsupported {
  color: #CCC;
}

#toc td.good,
#toc td.bad {
  text-align: center;
}

#toc td.good {
  background-color: #8FBF46;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

#toc .not-ready td.good {
  color: #8FBF46;
  background-color: white;
  cursor: default;
}

#toc td.good::before {
  content: 'Yes';
}

#toc td.bad {
  color: red;
  font-weight: 400;
}

#toc td.bad::before {
  content: 'No';
}
