@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Open Sans", serif;
    font-weight: 300;
}

html, body {
  background: #141414;
  color: white;
}

.editor-holder {
  position: relative;
}

.pure-form label {
  margin-left: 1em;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 14px;
}

#console {
  color: #2D8730;
  font-size: 14px;
  overflow: auto;
  background-color: #232323;
  padding: 10px;
}

#console pre {
  font-family: "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
  padding: 8px 0;
  margin: 0;
  border-bottom: 1px solid #164116;
  white-space: pre;
  word-wrap: inherit;
}

#console pre.error {
  color: red;
}

#tools {
  padding: 10px;
  background-color: #FFC75E;
  color: #141414;
  height: 2.4em;
  line-height: 2.1em;
}

#tools form > * {
  margin-right: 1em;
}

#tools img {
  float: left;
  height: 22px;
  width: 22px;
  vertical-align: middle;
  margin-right: 8px;
}

#explanations {
  background: #FFFDA0;
  background: -moz-linear-gradient(top, #ffef5e 0%, #FFFDA0 75%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffef5e), color-stop(75%,#FFFDA0));
  background: -webkit-linear-gradient(top, #ffef5e 0%,#FFFDA0 75%);
  background: -o-linear-gradient(top, #ffef5e 0%,#FFFDA0 75%);
  background: -ms-linear-gradient(top, #ffef5e 0%,#FFFDA0 75%);
  background: linear-gradient(to bottom, #ffef5e 0%,#FFFDA0 75%);
  color: #141414;
}

#why, #thanks, #contributors, #browser {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  padding: 0 1em;
}

#why .three-column,
#thanks > div,
#browser > div,
#contributors > div {
  padding: 1em 0;
}

#why p {
  margin: 0;
  padding: .25em;
  text-indent: 2em;
}

#thanks p,
#thanks dl {
  margin: 0;
}

#thanks h2 {
  margin-top: 0;
}

#browser h2 {
  margin: 0;
}

#browser p,
#thanks dd {
  padding: 0 1em 0 0;
}

.signature {
  font-variant: small-caps;
  font-style: italic;
}

.ignore {
  text-decoration: line-through;
  color: #7F7F7F;
}

#why.show, #thanks.show, #contributors.show, #browser.show {
  opacity: 1;
}

#why.show,
#browser.show,
#contributors.show {
  max-height: 20em;
}

#thanks.show {
  max-height: 32em;
}

#contributors img {
  width: 200px;
  margin: auto;
  display: block;
}

#contributors h2 {
  text-align: center;
}

#contributors a {
  text-decoration: none;
  color: #0074DF;
}

.constrainer {
  max-width: 1024px;
  min-width: 900px;
  margin: auto;
}

.tool-button {
  text-align: right;
}

.pure-menu.pure-menu-open {
  background-color: transparent;
}

.pure-menu li a,
.pure-menu li a:hover,
.pure-menu li a:focus {
  background-color: inherit;
  font-weight: 600;
  color: #141414;
}

.pure-menu li.pure-menu-selected a {
  background-color: #141414;
  color: #FFC75E;
}

.three-column {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

header.main {
  background: #ffef5e;
  background: -moz-linear-gradient(top, #FFFDA0 0%, #ffef5e 75%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFDA0), color-stop(75%,#ffef5e));
  background: -webkit-linear-gradient(top, #FFFDA0 0%,#ffef5e 75%);
  background: -o-linear-gradient(top, #FFFDA0 0%,#ffef5e 75%);
  background: -ms-linear-gradient(top, #FFFDA0 0%,#ffef5e 75%);
  background: linear-gradient(to bottom, #FFFDA0 0%,#ffef5e 75%);
  color: #141414;
}

header.main h1 {
  font-size: 2.5em;
  padding: 1em 0 1em 1em;
  box-sizing: border-box;
}

header.main h2 {
  box-sizing: border-box;
  padding: 1em 2em 0em 2em;
}

header.main h2 p {
  margin: 0 0 1em 0;
  padding: 0;
}

#interesting {
  z-index: 1;
  position: relative;
}

#boring {
  z-index: 3;
  position: relative;
}

#toc {
  color: #141414;
}

#toc table {
  width: 100%;
  border-collapse: collapse;
}

#toc .toc-group-walkthrough {
  width: 60%;
}

#toc .toc-group {
  width: 20%;
}

#toc .toc-walkthrough {
  width: 40%;
}

#toc .toc-native-support,
#toc .toc-traceur-support {
  width: 20%;
}

#toc thead.fixed {
  position: fixed;
  top: 0;
  z-index: 2;
}

#toc th,
#toc td {
  padding: 4px;
  border: 1px solid #141414;
  border-top: 0;
}

#toc th:first-child,
#toc td:first-child {
  border-left: 0;
}

#toc th:last-child,
#toc td:last-child {
  border-right: 0;
}

#toc th {
  background-color: #FF9F5E;
  font-weight: 600;
}

#toc td {
  background-color: white;
}

#toc td a {
  color: #141414;
  text-decoration: none;
  margin-right: .25em;
}

#toc td.unsupported {
  color: #CCC;
}

#toc td.good,
#toc td.bad {
  text-align: center;
}

#toc td.good {
  background-color: #8FBF46;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

#toc .not-ready td.good {
  color: #8FBF46;
  background-color: white;
  cursor: default;
}

#toc td.native::before {
  content: 'your browser';
}

#toc td.bad {
  color: red;
  font-weight: 400;
}

#toc td.traceur::before {
  content: 'traceur';
}

#toc td.bad::before {
  content: 'none';
}

footer {
  font-size: 78%;
  text-align: center;
  background-color: #FFC75E;
  color: #141414;
  padding: .5em;
  line-height: 2.5em;
}

footer button {
  float: left;
}

footer:after {
  content: '';
  clear: both;
  display: block;
}

form footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
